.popUpWindow {
  min-width: 200px;
  min-height: 70px;
  background-color: rgb(234, 9, 9);
  border-radius: 4px;
  padding: 11px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popUpWindow > p {
  color: white;
}
