.game {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game > .messages {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.game > .messages > div {
  margin-top: 20px;
  padding: 2px 4px;
  background-color: aqua;
  float: left;
}

.user_message {
  float: right;
}

.game > .messages > div > p {
  color: black;
}

.game > form {
  width: 50%;
  height: 40px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 90%;
}

.game > form > input {
  width: 100%;
  height: 100%;
  border: 2px solid rgba(34, 36, 38, 0.15);
  border-radius: 25px;
  padding: 0 10px 0 10px;
}

.game > form > button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: white;
}

.game > form > button > img {
  width: 40px;
  height: 40px;
}
